body,p,a,img,div,span,h1,h2,h3,h4 {
	color:#111111;
	font-family:arial,sans-serif;
	font-size:1em;
	margin:0 auto;
	padding:0;
	border:0;
	outline:0;
	/*display:block;*/
}
body{
	background-color:#FFFFCC;
}
.container{
	max-width:1024px;
}
#masthead {
	background-color:#990000;
	color:#FFFFCC;
        min-height:150px;
	/*width:100%;*/
}
#title {
	background-color:#990000;
	color:#FFFFCC;
	font-size:2em;
	font-weight:bold;
	width:100%;
	text-align:center;
	/*border:1px solid black;*/
}
#logo {
	margin:10px;
	display:inline;
}
#nav-bar {
	background-color:#111111;
	color:#990000;
	padding:10px;
	height:23px;
}
.nav {
	float:left;
	width:100px;
	text-align:center;
	background-color:#111111;
	color:#990000;
}
a.nav:hover {
	color:#FFFFCC;
}
#content {
	border:2px solid #000000;
	width:90%;
	max-width:960px;
	padding:10px;
	margin:5px auto;
	border-radius:10px;
}

@media screen and (max-width: 600px) {
	#logo {
		float:none;
	}
	#content {
	}
}
