body{
	font-family:arial,sans-serif;
	background-color:#FFFFFF;
	margin:0;
}
#masthead {
	background-color:#990000;
	background-image:url(images/spam_masthead.jpg);
	color:#FFFFDD;
}
.wrapper {
	overflow:auto;
	width:100%;
	max-width:1024px;
	margin:0 auto;
}
.title {
	font-size:2.2em;
	font-weight:bold;
	vertical-align:middle;
	display:inline-block;
	text-align:center;
	text-shadow:0 0 10px #101010;
	margin-left:14%;
	/*border:2px solid #66FF66;*/
	/*border-radius:10px;*/
	/*padding:5px;*/
	/*background-color:#101010;*/
}
.author {
	font-size:0.5em;
	font-weight:bold;
	text-shadow:0 0 10px #101010;
	color:#CCCCAA;
	display:inline-block;
	/*float:right;*/
}
#logo {
	margin:10px;
	vertical-align:middle;
	display:inline-block;
}
#nav-bar {
	overflow:auto;
	background-color:#101010;
	padding:10px;
}
.nav {
	font-weight:bold;
	color:#990000;
	width:80px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
}
.nav-select {
	font-weight:bold;
	color:#990000;
	width:80px;
	text-align:center;
	display:inline-block;
}
a.nav:hover {
	color:#FFFFDD;
}
a.nav-select:hover {
	color:#990000;
}
#quote {
	font-family:serif;
	font-size:1.25em;
	background-color:#FFFFDD;
        border:2px solid #990000;
        border-radius:10px;
        box-shadow: 5px 5px 10px #888888;
        max-width:480px;
        padding:10px;
        margin:5px auto;
	text-align:center;
}
.content {
	background-color:#FFFFDD;
	border:2px solid #101010;
	border-radius:10px;
	box-shadow: 5px 5px 10px #888888;
	max-width:960px;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:5px;
}
.content-title {
	font-size:1.25em;
	font-weight:bold;
}
.content-date {
	float:right;
}
.content-image {
	float:right;
	margin-left:5px;
}
.video-column {
	display:inline-block;
	background-color:#FFFFDD;
        border:2px solid #101010;
        border-radius:10px;
        box-shadow: 5px 5px 10px #888888;
        width:300px;
	vertical-align:top;
        padding:10px;
        margin-left:5px;
        margin-right:4px;
        margin-top:10px;
        margin-bottom:5px;
}
#footer {
	background-color:#101010;
	color:#FFFFDD;
	min-height:100px;
	padding:15px;
	margin-top:15px;
}
.footer-block {
	display:inline-block;
	vertical-align:top;
	margin-right:15px;
	margin-top:0;
}

@media screen and (max-width: 600px) {
#logo {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.title {
	display:block;
	margin:0 auto;
}
.content {
}
.content-image {
	display:block;
	float:none;
	margin-left:auto;
	margin-right:auto;
}

}

