body{
	font-family:arial,sans-serif;
	font-size:1em;
	background-color:#FFF;
	margin:0;
}
code{
	font-family:"Courier New", Courier, monospace;
	background-color:#666;
	color: #DDD;
	padding:0 5px;
	display:inline;
}
pre.block{
	display:table;
	background-color:#666;
	padding:8px;
}
pre code{
	padding:0;
}
.wrapper {
	overflow:auto;
	width:100%;
	max-width:980px;
	margin:0 auto;
	padding:0;
}
#masthead {
	position:relative;
	background-color:#900;
	background-image:url(images/spam_masthead.jpg);
	color:#FFF;
	height:auto;
	z-index:25;
}
	#masthead img {
		margin:10px;
		vertical-align:middle;
		display:inline-block;
	}
	#masthead span {
		vertical-align:middle;
		display:inline-block;
		text-align:center;
		text-shadow:0 0 10px #101010;
		margin-left:14%;
	}
	#masthead h1{
		margin:7px;
		font-size:2.2em;
	} 
	#masthead h2 {
		margin:7px;
	}
	#masthead h3 {
		margin:7px;
		color:#999;
	}
.nav-bar {
	position:relative;
	font-weight:bold;
	background-color:#101010;
	margin:0;
	padding:0;
	list-style-type:none;
	vertical-align:top;
	z-index:20;
	box-shadow: 0 3px 5px #888888;
}
	.nav-bar ul {
		margin:0;
		padding:0;
		width:100%;
		position:relative;
		display:inline-block;
	}
	.nav-bar > div > ul > li {
		display:inline-block;
	}
	.nav-bar ul li a {
		color:#FFF;
		padding:10px 25px;
		text-decoration:none;
		display:inline-block;
	}
	.nav-bar ul li:hover {
		background:#A00;
	}
	.sticky {
		position:fixed;
		top:0;
		left:0;
		width:100%;
	}
#content {
	background-color:#EEE;
	position:relative;
	margin: 0 0 220px;
	z-index:15;
}

#quote {
	font-family:serif;
	font-size:1em;
	font-style: oblique;
	background-color:#FFE;
	box-shadow: 2px 2px 5px #888;
	max-width:480px;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:5px;
	display:table;
}
.article {
	background-color:#FFF;
	box-shadow: 2px 2px 5px #888;
	max-width:960px;
	padding:20px;
	margin:10px;
	overflow:auto;
	text-align:left;
	z-index:20;
}
	.article p {
	text-indent:20px;
	margin-left:10px;
	margin-right:10px;
	}
	.article h1 {
		vertical-align:middle;
		font-size:1.25em;
		margin:0;
		color:#A00;
	}
	.article h1 a {
		text-decoration:none;
		color:inherit;
	}
	.article h2 {
		vertical-align:middle;
		font-size:1.25em;
		margin:0;
	}
	.article h2.date {
		vertical-align:middle;
		font-size:1em;
		margin:0;
		float:right;
	}
	.article h2 a {
		text-decoration:none;
		color:inherit;
	}
	.article h3 {
		vertical-align:middle;
		font-size:1em;
		margin:0;
	}
	.article h4 {
		vertical-align:middle;
		font-size:0.75em;
		margin:0;
	}
	.article img.right-image {
		float:right;
		margin: 20px 0px 20px 20px;
		padding:5px;
		box-shadow: 2px 2px 5px #888;
	}
	.article ul.gallery {
		text-align:center;
		margin:0;
		padding:0;
	}
	.article ul.gallery li {
		vertical-align:middle;
		display:inline-block;
		margin:5px;
		padding:5px;
		box-shadow: 2px 2px 5px #888;
		/*border:2px solid #101010;*/
		/*border-radius:10px;*/
	}
.video-column {
	display:inline-block;
	background-color:#FFF;
	/*border:2px solid #101010;*/
	/*border-radius:10px;*/
	box-shadow: 2px 2px 5px #888;
	width:290px;
	vertical-align:top;
	padding:10px;
	margin-left:5px;
	margin-right:4px;
	margin-top:10px;
	margin-bottom:5px;
}
	.video-column h2 {
		vertical-align:middle;
		font-size:1.25em;
		margin:0;
	}
.duties {
	margin-left:20px;
}

#footer {
	position:fixed;
	bottom:0px;
	width:100%;
	background-color:#101010;
	color:#FFFFEE;
	min-height:170px;
	padding:15px;
	z-index:10;
}
	.footer-block {
		display:block;
		text-align:left;
		vertical-align:top;
		margin:0;
	}

@media screen and (max-width: 600px) {

#masthead img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#masthead span {
	display:block;
	margin:0 auto;
}
.nav-bar ul li a {
	padding:10px;
}
.article {
	margin-left:auto;
	margin-right:auto;
}
	.article img.right-image {
		display:block;
		float:none;
		margin-left:auto;
		margin-right:auto;
	}
}

